#loaderBG {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 400;
}

body,
td,
p,
div {
  font-family: 'Roboto';
}


body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
  background: transparent;
}

#topHeader {
  width: 50vmin;
  height: 25vmin;
  top: 5vmin;
  left: 5vmin;
  position: absolute;
  font-size: 5vmin;
  color: #ffffff;
  font-weight: 100;
}

#topSubheader {
  position: absolute;
  font-size: 2vmin;
  color: #ffffff;
  font-weight: 100;
}

#bottomHeader {
  width: 98vmin;
  height: 1vmin;
  bottom: 2vmin;
  left: 5vw;
  position: absolute;
  font-size: 1vmin;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}

#bottomHeader a {
  color: #ffffff !important;
}


#timelineDiv {
  width: 90vw;
  height: 0.3vw;
  position: absolute;
  left: 5vw;
  bottom: 8vh;
  background-color: #FFFFFF;
}

#timelinePoint1,
#timelinePoint2,
#timelinePoint3,
#timelinePoint4,
#timelinePoint5,
#timelinePoint6 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: #FFFFFF;
  bottom: 7.0vh;
  border-radius: 50%;
  cursor: pointer;
}

#timelinePoint1Big,
#timelinePoint2Big,
#timelinePoint3Big,
#timelinePoint4Big,
#timelinePoint5Big,
#timelinePoint6Big {
  position: absolute;
  width: 4vw;
  height: 4vw;
  bottom: 5.5vh;
  border-radius: 50%;
  border-color: #ffffff;
  border-width: 0.3vh;
  border-style: solid;
  margin-left: -1.1vw;
  display: none;
}





#timelinePoint1,
#timelinePoint1Big {
  left: 5vw;
}

#timelinePoint2,
#timelinePoint2Big {
  left: 27.5vw;
}

#timelinePoint3,
#timelinePoint3Big {
  left: 49vw;
}

#timelinePoint4,
#timelinePoint4Big {
  left: 71.5vw;
}


#timelinePoint5,
#timelinePoint5Big {
  left: 93vw;
}

#timelinePoint6,
#timelinePoint6Big {
  left: 105vw;
}


@media screen and (max-width: 373px) {


  @-ms-viewport {
    width: 373px;
  }

  @-o-viewport {
    width: 373px;
  }

  @viewport {
    width: 373px;
  }

  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }



  .xr-button-overlayFullScreen {
    top: calc(100vh - 58px) !important;

  }


}



.xr-button-overlay {
  bottom: auto !important;
  top: 2vmin !important;
  height: 42px !important;
  width: 42px !important;
  right: 12px !important;
}

.babylonVRicon {


  position: absolute;
  height: 5vmin !important;
  width: 5vmin !important;
  margin: 0;
  top: 5vw !important;
  left: calc(100vw - 5vmin - 5vw) !important;
  border: 1px solid #ffffff;
  cursor: pointer;
}

#arrow1Div {
  left: 0;
  position: absolute;
  top: 50vh;
  left: 0;
  width: 7vmin;
  height: 7vmin;
  margin-top: -3.5vmin;
}

#arrow2Div {
  position: absolute;
  top: 50vh;
  right: 0;
  width: 7vmin;
  height: 7vmin;
  margin-top: -3.5vmin;
}

#arrow1 {
  width: 7vmin;
  height: 7vmin;
  transform: rotate(180deg);
  cursor: pointer;
}

#arrow2 {
  width: 7vmin;
  height: 7vmin;
  cursor: pointer;
}







#slide0 {

  transform: rotate3d(0, 0, 0, 70deg);
}


#slide0,
#slide1,
#slide2,
#slide4,
#slide4,
#slide5,
#slide6,
#slide7 {
  top: 55vh;
  color: #ffffff;
  position: absolute;
  width: 40vw;
  height: 30vh;
  font-size: 1.5vh;
  transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease, opacity 0.4s linear;
}

#slide1,
#slide2,
#slide4,
#slide4,
#slide5,
#slide6,
#slide7 {
  transform: rotate3d(1, 1, 1, 90deg);
  left: 50vw;
  opacity: 0;
}

.slideOverflow {
  position: absolute;
  width: 40vw;
  height: 30vh;
  overflow-y: scroll;
}





@media (orientation: portrait) {

  #slide0,
  #slide1,
  #slide2,
  #slide3,
  #slide4,
  #slide5,
  #slide6,
  #slide7 {
    color: #ffffff;
    position: absolute;
    width: 90vw !important;
    top: 65vh !important;
    height: 25vh !important;
    font-size: 1.2vh !important;
  }

  .slideOverflow {
    color: #ffffff;
    position: absolute;
    width: 90vw !important;
    height: 25vh !important;
    font-size: 1.2vh !important;
    overflow-y: scroll;
  }




  #language_tj {
    left: calc(60vw + 0px) !important;
    font-size: 2.5vmin !important;
  }

  #language_en {
    left: calc(60vw + 6vmin) !important;
    font-size: 2.5vmin !important;
  }

  #language_ru {
    left: calc(60vw + 12vmin) !important;
    font-size: 2.5vmin !important;
  }

}



#language_tj {
  color: #FFF;
  position: absolute;
  left: calc(75vw + 0px);
  top: 5vw;
  font-size: 2vmin;
  width: 4vmin;
  height: 5vmin;
  cursor: pointer;
}

#language_en {
  color: #FFF;
  position: absolute;
  left: calc(75vw + 5vmin);
  top: 5vw;
  font-size: 2vmin;
  width: 4vmin;
  height: 5vmin;
  cursor: pointer;
}

#language_ru {
  color: #FFF;
  position: absolute;
  left: calc(75vw + 10vmin);
  top: 5vw;
  font-size: 2vmin;
  width: 4vmin;
  height: 5vmin;
  cursor: pointer;
}
